.app-container {
  display: flex;
  justify-content: center;
}

.content-container {
  width: 50rem;
  padding: 2rem 0;
}

@media only screen and (max-width: 50rem) {
  .content-container {
    max-width: 50rem;
  }
}
